{% extends 'base.html' %}

{% block title %} cc++ CodeContest {% endblock %}

{% block stuff %}
<header class="codecom-header" id="Introduction">
	
		<nav>
			<a style="background-image: url('static/img/heart.ico');"  class="codecom-register" 
			href="{% url 'register' %}"
			title="Register"></a>
			 <a style="background-image: url('static/img/heart.ico');" class="codecom-archive" 
			 href="{% url 'rankboard' %}" title="Rank Board"></a>
		</nav>
		<a href=""><span>cc++ CodeContest</h1></a>
		<!-- <h1>fast coding competition</h1> -->
</header> 

<div class="side-navigation">
 	<div class="navigation-link">
 		<nav role="navigation">
			<ul class="summary">
		        <li>
		            <a href="#" target="_blank" class="custom-link">cc++ CodeContest<!-- Competition -->: Extensions</a>
		        </li>
		        <li class="divider"></li>   
		        <li class="chapter " >
		            
		                <a href="#Introduction">
		            
		                    
		                    Introduction
		            
		                </a>
		            

		            
		        </li>
		    
		        <li class="chapter ">
		            
		                <a href="#Who-can-register">
		            
		                    
		                    Can I register?
		            
		                </a>
		            

		            
		        </li>
		    
		        <li class="chapter active">
		            
		                <a href="#Eligibility">
		            
		                    
		                     Who is eligible?
		            
		                </a>
		            

		            
		        </li>
		    
		        <li class="chapter ">
		            
		                <a href="#Rules">
		            
		                    
		                    Rules
		            
		                </a>
		            

		            
		        </li>

		         <li class="chapter ">
		            
		                <a href="#Supported-languages">
		            
		                    
		                    Supported Programming Languages
		            
		                </a>
		            

		            
		        </li>
		    
		        <li class="chapter ">
		            
		                <a href="#how-to-register">
		            
		                    
		                    How to enter the contest
		            
		                </a>
		            

		            
		        </li>
		    
		        <li class="chapter ">
		            
		                <a href="">
		            
		                    
		                    Optional: Domain
		            
		                </a>
		            

		            
		        </li>
		    
		        <li class="chapter ">
		            
		                <a href="">
		            
		                    
		                    Deploy your website on Heroku
		            
		                </a>
		            

		            
		        </li>
		        <li>
		        	
		        	<p>
     			    <a href="#donate" class="btn" target="_blank">
      	<!-- "https://www.patreon.com/" -->
       				 💖Support our work✨ : Donate now!
					</a>
					</p>
		        </li>
		  
		    	<li class="divider"></li>

		    	<li>
		        <a href="https://www.facebook.com/unclebay">
		            Designed by <strong>Ayodele Samuel Adebayo</strong>
		        </a>
		    	</li>
			</ul>
		</nav>
	</div>
</div>

<div class="page-wrapper" tabindex="-1" role="main">
    	<div class="page-inner">
    		<div class="content-section">
    			<h1 >Introduction</h1>
    			<p>Welcome to <!-- Fast Fingers Coding Competition --> cc++ CodeContest, be ready as we are ready to bring coding challenges to you to solve in order to <br /> improve your coding skills and time optimization. To show you better ways to rewrite a program or solve programming problems.</p>

    			<h2 id="Who-can-register">Can I Register?</h2>
    			<p>Yes!!! You, everyone and anyone with or without programmming knowledge can register, there is a forum provided where programming problems will be provided with solutions.<br />There will be answers to your question in a very short time</p>

    			<h2 id="Eligibility">Who is Eligible for the contest?</h2>
    			<p>Registered members only. </p>


    			<h2 id="Rules">Contest Rules?</h2>
    			<ul style="font-size: 2em;">
    				<li>Don't Hack Our Site</li>
    				<li>Follow Instructions during the contest</li>
    				<li>Upload your program solution before the due time</li>
    				<li></li>
    			</ul>




    			<h2 id="Supported-languages">Which programming langauages are supported for the contest?</h2>
    			<p>There is no need of knowing several programming language to enter into the contest, solutions to the contest problem can be <br />provided in any programming language you know and the ranking is based on the numbers of problems you solved and not the programming language you used</p>
    				<ul style="font-size: 2em;">
    					<strong>Famous programming languages</strong>
    					<li>Python</li>
    					<li>C++</li>
    					<li>Java</li>
    					<li>Perl</li>
    					<li>Basic.....e.t.c.</li>
    				</ul>

    			<h2 id="how-to-register">How to Register?</h2>
    			<p>Registration Procedure</p>
    			<ul style="list-style: asterisks; font-size: 3em; background-color:;">
    				<p>Anyone who made a payment of #1,000.00 is automatically enabled to have access to the competition forum and will be <br /> ranked according to their performance</p>
    				<li><p style="font-size: 17px;">Visit: www.codecompetition.com</p></li>
    				<li>On the left side-navigation: click How to Register</li>
    				<li id="donate">Make a payment of #1, 000: <br /> &nbsp;&nbsp; Payment Mode <br /> 
    				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Bank Transfer:</li>
    				<ul style="list-style: none;">
    					<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Account name: Ayodele Samuel Adebayo</li>
    					<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bank name: Polaris Bank</li>
    					<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Account no: 3054487011</li>
    					<li></li>
    				</ul> 
    			</ul>
    		</div>
    	</div>	
    </div>	
</div>

{% endblock %}