html{
    font-size:62.5%
}

.codecom-header{
    width:100%;
    background: center #2c2c32 /*#4d4d4d*/;
    padding:2rem;
    box-sizing:border-box;
    overflow:auto;
    /*font-weight:400;*/
    font-size:1.6rem;
    line-height:1.3;
    text-rendering:optimizeLegibility;

}

body{
    margin: 0;
    display: block;
}
.codecom-header nav{
        float:left;
        /*margin-left:45px; to bring down the H1*/
        overflow:hidden;
    }
.codecom-header nav a{
        display:inline-block;
        position:relative;
        text-align:left;
        width:2.5em;
        height:2.5em;
        background:0 0;
        border-radius:50%;
        margin:0 .5rem;
        border:4px solid #ff7fb3;
        color:#ff7fb3;
        text-decoration:none;
        -webkit-transition:all .2s ease-in-out;
        -moz-transition:all .2s ease-in-out;
        -ms-transition:all .2s ease-in-out;
        -o-transition:all .2s ease-in-out;
        transition:all .2s ease-in-out}
.codecom-header span{
            display:block;
            float:left;
            /*text-align:center;*/
            font-family:"Segoe UI","Helvetica Neue","Helvetica",Arial,sans-serif;/*Nunito,sans-serif*/;
            color:#fff;
            font-size:30px/*2rem*/;
            line-height: px;
            /*font-weight:700;*/
            letter-spacing:.05rem;
            margin-left:2rem
        }
    